
.Page {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(19, 1fr);
	grid-template-rows: repeat(29, 3em);
	overflow-x: hidden;
	vertical-align: baseline;
}
.Header{
	grid-column: 1 / -1;
	grid-row: 1 / 5;
	margin-bottom: 50px;
	background-color: #b9efae;
}
.ImageSlider {
	width: 60em;
	height: 22em;
	overflow: hidden;
}
.ImageSlidercolor{
	width: 60em;
	height: 22.5em;
	background-color: #0b49c4;
	box-shadow: 0px 2px 10px black;
}
.ImageBackground{
	grid-column: 6/-6;
	grid-row: 4/11;
}
.wrapper{
	grid-column: 6/-5;
	grid-row: 11/20;
}
.SlidingObjects{
	grid-column: 6/-5;
	grid-row: 21/25;
}
